.active {
color: rgb(21, 255, 0);
}


.header-nav
{
  display: flex;
  flex-direction: row;
  justify-items: center;
  background-color: antiquewhite;
}

.list {
  display: flex;
  flex-direction: row;
  margin-left: 950px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.list-item a
{
  margin: 10px;
  text-decoration: none;
}